* {
    padding: 0%;
    margin: 0%;
    font-family: "Roboto", sans-serif;
  }

  form {
    /* border: 1px solid red; */
    border-radius: 12px;
    position: relative;
    left: 100px;
    width: 450px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    background-color: #ffffff10;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.05) 0px 10px 10px -5px;
  }

  #switch > h2 {
    /* border: 1px solid; */
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: x-large;
    animation: slideIn 1.25s;
    letter-spacing: 2.2px;
  }
  #switch > button {
    /* border: 1px solid black; */
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: xx-large;
    border: none;
    width: 30%;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    color: black;
    background-color: white;
    letter-spacing: 0.9px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    animation: transitionIn 0.75s;
  }

  #LoginBox {
    /* border: 1px solid red; */
    height: 900px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #LoginBox > div > img {
    width: auto;
    height: 700px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.05) 0px 10px 10px -5px;
  }

  #EmailBox > input {
    border: 1px hidden #cccccc;
    background-color: white;
    border-radius: 4px;
    width: 100%;
    height: 30px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    animation: transitionIn 0.75s;
  }

  input::placeholder {
    padding-left: 10px;
    font-size: 14px;
    align-items: center;
    letter-spacing: 0.5px;
    animation: transitionIn 0.75s;
  }

  #PasswordBox > input {
    border: 1px hidden #cccccc;
    background-color: white;
    border-radius: 4px;
    width: 100%;
    height: 30px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    animation: transitionIn 0.75s;
  }
  #CheckBox {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    letter-spacing: 0.6px;
    animation: transitionIn 0.75s;
  }

  #CheckBox input {
    height: 18px;
    width: 18px;
    animation: transitionIn 0.75s;
  }
  #CheckBox > label {
    padding-left: 10px;
    padding-right: 50px;
    animation: transitionIn 0.75s;
  }

  #Button input {
    border: none;
    width: 450px;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: #2196f3;
    letter-spacing: 0.9px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    animation: transitionIn 0.75s;
  }

  #or {
    text-transform: uppercase;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    animation: transitionIn 0.75s;
  }

  #or::before {
    content: "";
    display: block;
    width: 200px;
    height: 1px;
    background-color: black;
    left: 0px;
    top: 50%;
    position: absolute;
    animation: transitionIn 0.75s;
  }

  #or::after {
    content: "";
    display: block;
    width: 200px;
    height: 1px;
    background-color: black;
    right: 0px;
    top: 50%;
    position: absolute;
    animation: transitionIn 0.75s;
  }

  #Continue {
    /* border: 1px solid red; */
    text-align: center;
    height: 80px;
    justify-content: space-between;
    animation: transitionIn 0.75s;
  }
  #Continue > div {
    /* border: 1px solid green; */
    width: 60%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    animation: transitionIn 0.75s;
  }
  #Continue > div a {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    animation: transitionIn 0.75s;
  }

  #type {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    letter-spacing: 0.6px;
    animation: transitionIn 0.75s;
  }

  .fa-google {
    background: #dd4b39;
    color: white;
    animation: transitionIn 0.75s;
  }

  .fa-twitter {
    background: #55acee;
    color: white;
    animation: transitionIn 0.75s;
  }

  .fa-facebook {
    background-color: #3b5998;
    color: white;
    animation: transitionIn 0.75s;
  }

  .fa-github {
    background: #e0e0e0;
    background: linear-gradient(to bottom, #ffffff 1%, #e0e0e0 100%);
    animation: transitionIn 0.75s;
  }
  .fa-instagram {
    background: radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    color: white;
    animation: transitionIn 0.75s;
  }

  #Continue > div a:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }

  @keyframes transitionIn {
    from {
      opacity: 0;
      transform: scale(-10px);
    }
    to {
      opacity: 1;
      transform: scale(0px);
    }
  }

  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

